
.bg-body-tertiary {
    width: 100%;
}

.form-control {
    width: 70%;
}

.form-control {
    border-radius: 50px;
}

.btn-outline-success {
    border-radius: 50px;

    --bs-btn-color: #53a0d4;
    --bs-btn-border-color: #53a0d4;
    --bs-btn-hover-bg: #53a0d4;
    --bs-btn-hover-border-color: #53a0d4;
    --bs-btn-active-bg: #53a0d4;
    --bs-btn-active-border-color: #53a0d4;
    --bs-btn-disabled-color: #53a0d4;
    --bs-btn-disabled-border-color: #53a0d4;
}

.carousel img {
    width: 100%;
    height: 739px;
    object-fit:cover;
}

.shop-title {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card-container.row>* {
    width: 20%;
}

.card-container.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center
}

.col-md-4 {
    display: flex;
    justify-content: space-between;
}

 .card {
    margin-bottom: 50px;
 }

 .card h3, .card p {
    text-align: center;
 }

 .card h3 {
    font-weight: bold;
    font-size: 1.5em;
 }

 footer {
    background-color: black;
    color: white;
 }

 .first-line {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333;
 }

 .second-line {
    text-align: center;
    display: flex;
 }